<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="test/bootstrap.php"
         colors="true"
         verbose="true"
         testdox="true"
         stopOnFailure="false">

    <testsuites>
        <testsuite name="Application">
            <directory>test/Application</directory>
        </testsuite>
        <testsuite name="Domain">
            <directory>test/Domain</directory>
        </testsuite>
        <testsuite name="Infrastructure">
            <directory>test/Infrastructure</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory>src/NestedSet</directory>
        </include>
        <exclude>
            <directory>vendor</directory>
            <directory>test</directory>
        </exclude>
    </coverage>

    <php>
        <env name="APP_ENV" value="testing"/>
    </php>
</phpunit>